<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <img src="../assets/neps_logo.png" alt="Logo Nueva EPS" class="img-fluid" style="max-width: 150px;">
            <h2 class="mt-3">Recuperar contraseña</h2>
          </div>
          <div class="card-body" *ngIf="!tokenValido">
            <form #formRecuperar="ngForm" (ngSubmit)="recuperar(formRecuperar)">
              <div class="mb-3">
                <label for="nit" class="form-label">Ingrese el NIT</label>
                <input id="nit" name="nit" type="text" class="form-control" ngModel required>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" [disabled]="formRecuperar.invalid">
                  Recuperar
                </button>
              </div>
            </form>
          </div>
  
          <div class="card-body" *ngIf="tokenValido">
            <form #formComfirmar="ngForm" (ngSubmit)="verificarToken(formComfirmar)">
              <div class="mb-3">
                <label for="Password" class="form-label">Contraseña</label>
                <input id="Password" name="Password" type="password" class="form-control" ngModel required>
                <div *ngIf="!isPasswordValid(formComfirmar.controls['Password']?.value) && formComfirmar.controls['Password']?.touched" class="text-danger">
                  La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter especial.
                </div>
              </div>
              <div class="mb-3">
                <label for="conf_password" class="form-label">Confirmar Contraseña</label>
                <input id="conf_password" name="conf_password" type="password" class="form-control" ngModel required>
                <div *ngIf="!passwordsMatch(formComfirmar) && formComfirmar.controls['conf_password']?.valueChanges" class="text-danger">
                  Las contraseñas no coinciden.
                </div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" [disabled]="formComfirmar.invalid || !passwordsMatch(formComfirmar) || !isPasswordValid(formComfirmar.controls['Password']?.value)">
                  Cambiar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  