.info-bar {
    background-color: #22355e;
    padding: 3px 20px;
    display: flex;
    /*justify-content: flex-end;*/
    justify-content: center;
    align-items: center;
 

}

.info-text {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
}


.footer-bar {
    background-color: #22355e;
}