<div class="container my-5 ">
    <!-- Título principal -->
    <h2 class="text-primary text-center mb-4">Información del Prestador</h2>
    <!-- Sección de búsqueda -->
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <form #formPrestador="ngForm"  (ngSubmit)="ConsultarData(prestadorInput.value)">
            <label for="prestadorInput" class="form-label">Prestador</label>
            <div class="input-group mb-3">
                <input type="text" id="prestadorInput" #prestadorInput class="form-control"
                    placeholder="Buscar Prestador..." aria-label="Buscar Prestador" required>
                <button class="btn btn-primary" type="submit" [disabled]="formPrestador.invalid">Buscar</button>
            </div>
            </form>
        </div>
    </div>


    <!-- Tabla de información del prestador -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Información prestador</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive mb-4 ">
                <!-- 
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">NIT PRESTADOR:</th>
                            <td>{{ cabecera[0].nit }}</td>
                            <th scope="row">Nombre:</th>
                            <td>{{ cabecera[0].razon_social }}</td>
                        </tr>
                        <tr>
                            <th scope="row">ZONAL:</th>
                            <td>{{ cabecera[0].zonal }}</td>
                            <th scope="row">RED:</th>
                            <td>{{ cabecera[0].red }}</td>
                        </tr>
                        <tr>
                            <th scope="row">GIRO ADRES:</th>
                            <td>{{ cabecera[0].habitacion }}</td>
                            <th scope="row">TOTAL CARTERA:</th>
                            <td>{{ cabecera[0].total_cartera }}</td>
                        </tr>
                    </tbody>
                </table>
                -->
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">NIT PRESTADOR</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">ZONAL</th>
                            <th scope="col">RED</th>
                            <th scope="col">GIRO ADRES</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ cabecera[0].nit }}</td>
                            <td>{{ cabecera[0].razon_social }}</td>
                            <td>{{ cabecera[0].zonal }}</td>
                            <td>{{ cabecera[0].red }}</td>
                            <td>{{ cabecera[0].habitacion }}</td>
                        
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Radicación vs giros</h6>
        </div>
        <div class="card-body" style="display: block;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <!-- Promedio Radicación -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Total general</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive mb-4">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Promedio de radicación</th>
                            <th>CXP</th>
                            <th>En Procesamiento</th>
                            <th>Glosas</th>
                            <th>Devoluciones</th>
                            <th>Total Cartera</th>
                            <th>Giros Mes Actual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ cabecera[0].promedio_radicacion}}</td>
                            <td>{{ cabecera[0].cxp }}</td>
                            <td>{{ cabecera[0].en_proceso}}</td>
                            <td>{{ cabecera[0].glosas}}</td>
                            <td>{{ cabecera[0].devolucion }}</td>
                            <td>{{ cabecera[0].total_cartera}}</td>
                            <td>{{ cabecera[0].giro_mes_actual}}</td>
                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p class="text-muted text-center"><em>Cifras en millones de pesos</em></p>

    <!-- Detalles de Radicación 
    <h3 class="text-secondary">Detalles de Radicación</h3>-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Radicacion (clasificación)</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="table-responsive mb-4">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Descripción</th>
                                    <th>Enero</th>
                                    <th>Febrero</th>
                                    <th>Marzo</th>
                                    <th>Abril</th>
                                    <th>Mayo</th>
                                    <th>Junio</th>
                                    <th>Julio</th>
                                    <th>Agosto</th>
                                    <th>Septiembre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of primeraSeccion">
                                    <td [ngStyle]="{'background-color': getColorByLabel(item.Clasificacion)?.color}">{{ item.Clasificacion }}</td>
                                    <td>{{ item.ENE | number:'1.0-0' }}</td>
                                    <td>{{ item.FEB | number:'1.0-0' }}</td>
                                    <td>{{ item.MAR | number:'1.0-0' }}</td>
                                    <td>{{ item.ABR | number:'1.0-0' }}</td>
                                    <td>{{ item.MAY | number:'1.0-0' }}</td>
                                    <td>{{ item.JUN | number:'1.0-0' }}</td>
                                    <td>{{ item.JUL | number:'1.0-0' }}</td>
                                    <td>{{ item.AGO | number:'1.0-0' }}</td>
                                    <td>{{ item.SEP | number:'1.0-0' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="table-responsive mb-4">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th colspan="2" class="text-center">TOTAL 2024</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of keys2024">
                                    <td>{{ item.label }}</td>
                                    <td>
                                        {{ total2024[0][item.key] | number:'1.0-0' }}{{ item.key === 'porcentaje_giros'
                                        ? '%' : '' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Otra sección de detalles 
    <h3 class="text-secondary">Detalles de Radicación</h3>-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Total Pagos</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="table-responsive mb-4">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Descripción</th>
                                    <th>Enero</th>
                                    <th>Febrero</th>
                                    <th>Marzo</th>
                                    <th>Abril</th>
                                    <th>Mayo</th>
                                    <th>Junio</th>
                                    <th>Julio</th>
                                    <th>Agosto</th>
                                    <th>Septiembre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of segundaSeccion">
                                    <td>{{ item.Clasificacion }}</td>
                                    <td>{{ item.ENE | number:'1.0-0'  }}</td>
                                    <td>{{ item.FEB | number:'1.0-0' }}</td>
                                    <td>{{ item.MAR | number:'1.0-0' }}</td>
                                    <td>{{ item.ABR | number:'1.0-0' }}</td>
                                    <td>{{ item.MAY | number:'1.0-0' }}</td>
                                    <td>{{ item.JUN | number:'1.0-0' }}</td>
                                    <td>{{ item.JUL | number:'1.0-0' }}</td>
                                    <td>{{ item.AGO | number:'1.0-0'  }}</td>
                                    <td>{{ item.SEP | number:'1.0-0'  }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="table-responsive mb-4">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th colspan="2" class="text-center">PERIODO DE INTERVENCION</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of keys2024">
                                    <td>{{ item.label }}</td>
                                    <td>
                                        {{ intervencionMes[0][item.key] | number:'1.0-0' }}{{ item.key ===
                                        'porcentaje_giros' ? '%' : '' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Última sección de detalles 
    <h3 class="text-secondary">Detalles de Radicación</h3>-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Giros</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive mb-4">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Descripción</th>
                                    <th>Enero</th>
                                    <th>Febrero</th>
                                    <th>Marzo</th>
                                    <th>Abril</th>
                                    <th>Mayo</th>
                                    <th>Junio</th>
                                    <th>Julio</th>
                                    <th>Agosto</th>
                                    <th>Septiembre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of terceraSeccion">
                                    <td>{{ item.Clasificacion }}</td>
                                    <td>{{ item.ENE | number:'1.0-2' }}</td>
                                    <td>{{ item.FEB | number:'1.0-2' }}</td>
                                    <td>{{ item.MAR | number:'1.0-2' }}</td>
                                    <td>{{ item.ABR | number:'1.0-2' }}</td>
                                    <td>{{ item.MAY | number:'1.0-2' }}</td>
                                    <td>{{ item.JUN | number:'1.0-2' }}</td>
                                    <td>{{ item.JUL | number:'1.0-2' }}</td>
                                    <td>{{ item.AGO | number:'1.0-2' }}</td>
                                    <td>{{ item.SEP | number:'1.0-2' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
<!-- 
                <div class="col-md-3">
                    <div class="table-responsive mb-4">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th colspan="2" class="text-center">Simulacion</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PAGO A 80%
                                    </td>
                                    <td>10.607</td>
                                </tr>
                                <tr>
                                    <td>PAGO A 90%
                                    </td>
                                    <td>7.067</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>

</div>